$color-base-header: #dcdcdc;
$color-base-footer: #767676;
$color-white: #ffffff;
$color-black: #000000;
$color-base-blue: #46b2e6;
$color-base-lead: #f8f8f8;
$color-base-contact-form: #9ca3d7;

$color-button: #9da3d7;
$color-alternative-button: #ffbf86;
$color-alternative-button-hover: #ffb574;

$color-circle: rgba(157, 163, 215, 0.6);
$color-alternative-circle: rgba(255, 191, 135, 0.6);
$color-indicators: #dcdcdc;

$color-base-title: #767676;
$color-placeholder: rgb(118, 118, 118);
$color-base-text: #c9c9c9;
$color-input-result: #c5c5c5;
$color-symbol: #0099DE;
$color-input-border: #A2A2A2;