@font-face {
    font-family: "MyriadPro Regular";
    src: url(../../src/fonts/MyriadPro/Regular/MyriadPro-Regular.ttf) format("truetype"),
         url(../../src/fonts/MyriadPro/Regular/MyriadPro-Regular.eot) format("embedded-opentype"),
         url(../../src/fonts/MyriadPro/Regular/MyriadPro-Regular.woff) format("woff")
}

@font-face {
    font-family: "MyriadPro Semibold";
    src: url(../../src/fonts/MyriadPro/Semibold/MyriadPro-Semibold.ttf) format("truetype"),
         url(../../src/fonts/MyriadPro/Semibold/MyriadPro-Semibold.eot) format("embedded-opentype"),
         url(../../src/fonts/MyriadPro/Semibold/MyriadPro-Semibold.woff) format("woff")
}

@font-face {
    font-family: "MyriadPro SemiboldIt";
    src: url(../../src/fonts/MyriadPro/SemiboldIt/MyriadPro-SemiboldIt.ttf) format("truetype"),
         url(../../src/fonts/MyriadPro/SemiboldIt/MyriadPro-SemiboldIt.eot) format("embedded-opentype"),
         url(../../src/fonts/MyriadPro/SemiboldIt/MyriadPro-SemiboldIt.woff) format("woff")
}


@font-face {
    font-family: "MyriadPro Bold";
    src: url(../../src/fonts/MyriadPro/Bold/MyriadPro-Bold.ttf) format("truetype"),
         url(../../src/fonts/MyriadPro/Bold/MyriadPro-Bold.eot) format("embedded-opentype"),
         url(../../src/fonts/MyriadPro/Bold/MyriadPro-Bold.woff) format("woff")
}


$font_basic_title: "MyriadPro Semibold", Helvetica, Arial, sans-serif;
$font_alternative_title: "MyriadPro Bold", Helvetica, Arial, sans-serif;
$font_basic_text: "MyriadPro Regular", Arial, sans-serif;
$font_text_italic: "MyriadPro SemiboldIt", Georgia, Times, serif;